/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~angular-calendar/scss/angular-calendar.scss';
@import "~highlight.js/styles/androidstudio.css";
@import "~quill/dist/quill.snow.css";
@import "styles/var";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'styles/tables';
@import "styles/cards";
@import "styles/inbox";
@import "styles/calendar";
@import "styles/misc";
@import "styles/tabs";

@keyframes pageLoad {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-load-animation {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: pageLoad linear 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  background: #2B303B;
  z-index: 9999;
  pointer-events: none;
}

.title_dw {
  margin: auto 0 auto 36.5px;

  .title {
    font-size: 60px;
    font-weight: 400;
    font-family: GothamRounded-Light;
    color: var(--charcoal-grey-two);
    width: 196px;
  }

  .subtitle {
    font-size: 9.7px;
    margin: 0;
    font-family: GothamRounded;
    font-weight: 300;
    color: var(--ocean-blue);
  }

}

.roster-title {
  font-family: GothamRounded;
  font-size: 20.9px;
  font-weight: 300;
  padding: 44px;
  color: var(--charcoal-grey-two);
  background-color: var(--white-three);
}
